.footer {
    background-color:#2d3748;
    color:#ffffff;
    padding:1rem;
}
  
.footer .container{
    max-width: 1200px;
    margin:0 auto;
    padding:0 1.5rem;
}
  
.footer .content{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:0.5rem;
}
  
.footer .brand{
    text-align:left;
}
  
.footer .brand h2{
    font-size:2rem;
    font-weight:600;
}
  
.footer .brandg p{
    color:#a0aec0;
}
  
.footer .nav-links{
    display:flex;
    gap:1.5rem;
}
  
.footer .nav-links li{
    list-style:none;
}
  
.footer .nav-links li a{
    color:#a0aec0;
    text-decoration:none;
}
  
.footer .footer-bottom{
    text-align:center;
    color:#a0aec0;
    margin-top:0.5rem;
}

.brand{
    display:flex;
    align-items:flex-end;
}
  
.brand .text-white{
    margin-right:10px;
    margin-bottom:35px;
}
  
.brand-text {
    display:flex;
    flex-direction:column;
}